extends layout

block append appended_scripts
    script(src='/javascripts/contentFunctions.js')

block navbar-name
    a(class='navbar-brand') Content

block title
    title Content - IoT System

block content-authenticated
    div#contentView
        div(class='form-group float-right')
            form(id='uploadContentForm', method='POST', action='/content/upload', enctype="multipart/form-data")
                input(id='contentFile', type='file', class='form-control-file', name='contentFile')
                button(class='btn btn-primary', type='submit')
                    span(class='feather-24 mr-2' data-feather='plus')
                    | Upload Content

        p Content List
        ul(class='list-group', id='contentListGroup')
            for content in contentList
                a(class='list-group-item list-group-item-action contentItem', type='button', data-contentid=content.id) #{content.content_url}
            else
                li There is no content in the database.

        div(class='modal fade', id='contentModal', tabindex='-1', role='dialog', aria-labelledby="contentModalLabel", aria-hidden="true")
            div(class='modal-dialog', role='document')
                div(class='modal-content')
                    div(class='modal-header')
                        div(class='modal-title', id='contentTitle') Basic Content Title
                        button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                            span x
                    div(class='modal-body')
                        p(id='contentUrl') Basic Content Url
                        p(id='contentType') Basic Content Type
                    div(class='modal-footer')
                        button(type='button', class='btn btn-outline-primary', id='updateContent') Update Content
                        button(type='button', class='btn btn-outline-danger', id='deleteContent') Delete Content
                        button(type='button', class='btn btn-outline-secondary', data-dismiss='modal') Cancel

        div(class='modal fade', id='contentEditModal', tabindex='-1', role='dialog', aria-laballedby='contentEditModalLabel', aria-hidden='true')
            div(class='modal-dialog', role='document')
                div(class='modal-content')
                    div(class='modal-header')
                        div(class='modal-title') Editing Content
                        button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                            span x
                    div(class='modal-body')
                        label(for='contentUrl', class='col-form-label') Content URL:
                        input(id='contentUrl', class='form-control', type='text', name='contentUrl')
                        label(for='contentType', class='col-form-label') Content Type:
                        input(id='contentType', class='form-control', type='text', name='contentType')
                    div(class='modal-footer')
                        button(type='button', class='btn btn-outline-primary', id='saveContentUpdate') Update Content
                        button(type='button', class='btn btn-outline-secondary', data-dismiss='modal') Cancel
