extends layout

block basic-content
    div.view.ContentView
        h1.Banner Main Page
        if !isAuthenticated
            a(href='/auth/login') Login
            br
            a(href='/auth/register') Register
        else
            p You are logged in as #{username}
            a(href='/auth/logout')