block variables
doctype html
html(class='h-100')
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no, height=100%")
    meta(name="theme-color", content="#000000")
    block title
    block scripts
        script(src='/javascripts/dependencies/jquery.min.js')
        script(src='/javascripts/dependencies/popper.min.js')
        script(src='/javascripts/dependencies/bootstrap.min.js')
        script(src='/javascripts/layout.js')
        script(src='https://unpkg.com/feather-icons')
  body(class='d-flex flex-column h-100')
    div(class='container-fluid flex-grow-1 d-flex')
      div(class='row flex-fill flex-column flex-sm-row')
        div(class='sidebar col-sm-3 col-md-2 flex-shrink-1 bg-dark pt-3')
          ul(class='nav flex-column list-inline')
            li(class='nav-item text-light')
              a(class='h4') IoT System
            li(class='nav-item')
              a(class='nav-link', href='/') #[i(data-feather='home')] Home
              
            if !isAuthenticated
              li(class='nav-item')
                a(class='nav-link', href='/auth/login') #[i(data-feather='log-in')] Login
              li(class='nav-item')
                a(class='nav-link', href='/auth/register') #[i(data-feather='user-plus')] Register
              li(class='nav-item')
                a(class='nav-link', href='/status') #[i(data-feather='info')] Status
            else
              li(class='nav-item')
                a(class='nav-link', href='/topics') #[i(data-feather='message-circle')] Topics
              li(class='nav-item')
                a(class='nav-link', href='/content') #[i(data-feather='file')] Content
              li(class='nav-item')
                a(class='nav-link', href='/status') #[i(data-feather='info')] Status
              li(class='nav-item')
                a(class='nav-link', href='/auth/logout') #[i(data-feather='log-out')] Log Out
        div(class='col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 flex-grow-1 py-3')
          nav(class='navbar navbar-light bg-light')
            block navbar-name
          block basic-content
          if isAuthenticated
            block content-authenticated
          else
            block content-unauthenticated

script feather.replace()
block appended_scripts