extends layout

block title
    title Login - IoT System

block navbar-name
    a(class='navbar-brand') Login

block content-unauthenticated
    div#contentView(class='ml-n3 mt-4 rounded-lg shadow-sm p-3 text-center align-items-center')
        form(class='form-login' role='form', action='/auth/login', method='POST')
            img(class='mb-4' width='144px' height='144px' src='/images/icon.png')
            h1(class='h3 mb-3 font-weight-normal') Please log in
            input(class='mx-auto form-control col-9 mt-3' type='text', placeholder='Username', name='username')
            input(class='mx-auto form-control col-9 mt-3' type='password', placeholder='Password', name='password')
            button(class='btn btn-primary col-9 mt-3', type='submit', value='Log In') Log in