extends layout

block title
    title Register - IoT System

block navbar-name
    a(class='navbar-brand') Register

block content-unauthenticated
    div.view.ContentView
        form(role='form', action='/auth/register', method='POST')
            label(for='username') Username:
            input(type='text', placeholder='Enter username here...', name='username')
            label(for='password') Password:
            input(type='password', placeholder='Enter password here...', name='password')
            button(class='btn btn-primary', type='submit', value='Log In') Register
        
        p #{error}