html
    head
        link(rel="stylesheet", href="/static/stylesheets/style.css")
        title #{title}
    body
        h1 #{message}

        block content
            p This page doesn't have content yet.