block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title}
    block scripts
        script(src='/javascripts/dependencies/jquery.min.js')
        script(src='/javascripts/dependencies/popper.min.js')
        script(src='/javascripts/dependencies/bootstrap.min.js')
  body
    nav(class='navbar navbar-dark static-top bg-dark flex-md-nowrap p-0 shadow')
      a(class='navbar-brand col-sm-3 col-md-2 mr-0 text-light') IoT Content Management System
      if isAuthenticated
        ul(class='navbar-nav px-3')
          li(class='nav-item text-nowrap')
            a(class='nav-link text-light', href='/auth/logout') Log Out
    div(class='container-fluid')
      div(class='row')
        nav(class='col-md-2 d-none d-md-block bg-light sidebar')
          div(class='sidebar-sticky')
            ul(class='nav flex-column')
              li(class='nav-item')
                a(class='nav-link', href='/') Main Page
              if !isAuthenticated
                li(class='nav-item')
                  a(class='nav-link', href='/auth/login') Login Screen
                li(class='nav-item')
                  a(class='nav-link', href='/auth/register') Register Screen
              else
                li(class='nav-item')
                  a(class='nav-link', href='/content') Content Configuration Screen
                li(class='nav-item')
                  a(class='nav-link', href='/topics') Topic Configuration Screen
        if !isAuthenticated
          block layout-content
        else
          div(class='view ContentView')
            p User is not logged in yet.

block appended_scripts