block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title}
    block scripts
        script(src='/javascripts/dependencies/jquery.min.js')
        script(src='/javascripts/dependencies/popper.min.js')
        script(src='/javascripts/dependencies/bootstrap.min.js')
  body
    div(class='container-fluid')
      div(class='row')
        nav(class='cold-md-2 d-none d-md-block sidebar')
          div(class='sidebar-sticky')
            ul(class='nav flex-column')
              li(class='nav-item')
                a(class='nav-link', href='/content') Content Configuration Screen
              li(class='nav-item')
                a(class='nav-link', href='/topics') Topic Configuration Screen
        block layout-content

block appended_scripts